+++
id = 34
title = 'Bug 32: Automatic phase advancement upon checkpoint verification'
description = 'In WorkflowEngine, evaluate checkpoint criteria and advance phases deterministically.'
state = 'done'
type = 'fix'
created = '2026-08-29T00:50:42-03:00'
updated = '2026-08-29T00:50:42-03:00'
+++
